<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewAPI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>972671BAD833F631757EF2BBE848B762F1B88E5D</string>
				<key>dateExpires</key>
				<string>3/27/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LR4SP9C264.com.artistanbranding.NewAPI</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LR4SP9C264</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>NewAPI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f2bdf3be-12ee-497c-a2e5-0a3ce9fc45d1</string>
				<key>dateExpires</key>
				<string>3/6/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LR4SP9C264</string>
				<key>name</key>
				<string>Artisan Branding, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
